<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MM</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>    
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index"  ng-app="myhome">
<header></header>
<section class="paddIngZero" style="margin-top:115px">
	 <div class="container">
		<div ng-controller="details">
			
		</div>
		<div class=" col-sm-6 col-md-8 col-xs-6 nopaddingleft listWrappadding" ng-controller="details">
			<div class="combine"   >			
				<div class="lispageCombine"  ng-repeat="x in names.slice(0, 1)">					 
					 <div class="col-md-12 nopaddingleft">
						<h4>{{ x.name }}</h4>
						<img src="uploads/{{ path }}/original/{{ x.img_path }}" class="img-responsive" alt="">
						<div style="padding:10px;"></div>
						{{ x.description }}						 
					 </div> 
				 </div>
				<a href="http://twitter.com/home?status=" title="Share on Twitter" target="_blank" class="btn btn-twitter socialIcon"><i class="fa fa-twitter"></i> Twitter</a>
				<a href="https://www.facebook.com/sharer/sharer.php?u=" title="Share on Facebook" target="_blank" class="btn btn-facebook socialIcon"><i class="fa fa-facebook"></i> Facebook</a>
				<a href="https://plus.google.com/share?url=" title="Share on Google+" target="_blank" class="btn btn-googleplus socialIcon"><i class="fa fa-google-plus"></i> Google+</a>
			 </div>
			 <div class="relatedNews" ng-controller="details">
				<div class="combine">			
				<div class="lispageCombine"  ng-repeat="x in newsrelated.slice(0, 3)">
					 <div class="leftHome pull-left">
						<div class="latHm">
							<div class="repeatNew-hm">
								<img src="uploads/{{ path }}/original/{{ x.img_path }}" class="img-responsive" alt="">
								<span class="title">{{ x.name }}</span>
							</div>
						</div>
					 </div>
					 <div class="pull-left listpageTxtwrap">
						<h4>{{ x.name }}</h4>
						{{ x.description | limitTo: 250 }}{{  x.description.length > 250 ? ' ...' : ''}}						 
					 </div> 
				 </div>
			 </div>
			 </div>
		</div>
		<div class=" col-sm-6 col-md-4 col-xs-6  nopaddingright ">
			<aside id="trailler" class="col-md-12 nopadding">
				<h4>Trailler</h4>
				<div class="trailler">
					<div class="col-md-6 nopaddingleft"><img src="img/Bachalpseeflowers.jpg" alt="" class="img-responsive"/></div>
					<div class="col-md-6 nopaddingleft"><img src="img/Bachalpseeflowers.jpg" alt="" class="img-responsive"/></div>
					<div class="col-md-6 nopaddingleft"><img src="img/Bachalpseeflowers.jpg" alt="" class="img-responsive"/></div>
					<div class="col-md-6 nopaddingleft"><img src="img/Bachalpseeflowers.jpg" alt="" class="img-responsive"/></div>					
				</div>
			</aside>
			<aside id="review" class="col-md-12 nopadding">
				<h4>Review</h4>
				<div class="trailler reviewPortion" ng-controller="kollywood">
					<div class="col-md-6 nopaddingleft" ng-repeat="x in names.slice(0, 4)" ng-if="x.review != ''" ng-href="details.html?q=dt&id={{x.hid}}&ty=kw" ng-click="loc($event)">
						<!--<span class="reviewStar" data-review="{{x.review}}"><i class="fa fa-star" ng-repeat="y in getNumber(x.review) track by $index"></i></span>-->
						<span class="reviewStar" data-review="{{x.review}}"></span>
						<img src="uploads/{{ path }}/thumb_2/{{ x.img_path }}" alt="" class="img-responsive"/>
					</div>
				</div>
			</aside>
			<aside id="addpost" class="col-md-12 nopadding paddingbottom">
				<h4>Addpost</h4>
				<img src="img/govt-jobs-latest.jpg" alt="" class="img-responsive"/>
			</aside>
		</div>
	 </div>
</section>
<footer></footer>    
<script src="js/jquery.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/common.js"></script>
<script>	
$(function(){$('header').load('header.html');$('footer').load('footer.html');});
</script>
</body>
</html>
